{% extends 'base.html' %}

{% block content %}

<div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Notifications</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Notifications</a></li>
                           <li class="breadcrumb-item active">Notifications</li>
                        </ul>
                     </div>
                     <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i>Exporter</a>
                        <a href="{% url 'add_student' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0 datatable">
                                 <thead>
                                    <tr>
                                       
                                       <th>Message</th>
                                      
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 	{% for i in stud_notif %}
                                    <tr>
                                       <td>{{ i.message }}</td>
                                       
                                      
                                       
                                       <td class="text-right">
                                          <div class="actions">

                                           {% if i.status == 0 %}

                                           <a href="{% url 'comme_lu_eleve' status=i.id %}" class="btn btn-danger">comme Lu</a>
                                           {% else %}

                                           <button class="btn btn-danger" disabled="disabled">comme Lu</button>
                                           {% endif %}

                                          </div>
                                       </td>
                                    </tr>
                                   {% endfor %} 
                                    
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
{% endblock %}