{% extends 'base.html' %}

{% block content %}

<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<form method="POST" action="{% url 'update_eleve' %}" enctype="multipart/form-data">
					{% csrf_token %}
					
						<div class="col-12">
							<h5 class="form-title"><span>Edit Eleve</span>
							</h5>
							
						</div>

						{% include 'include/messages.html' %}
						
						<div class="col-sm-11">
							<div class="form-group">
								<label>Image Profile</label>
								<input type="file" class="form-control" name="profile_img" >
								<input type="text" class="form-control" name="student_id" value="{% for i in student %} {{i.adm.id}} {% endfor %}" hidden="">
								
							</div>
							
						</div>

						<div class="col-sm-11">
							<div class="form-group">
								<label>First Name</label>
								<input type="text" class="form-control" name="first_name" value="{% for i in student %} {{i.adm.first_name}} {% endfor %}" >
								
							</div>
							
						</div>

						<div class="col-sm-11">
							<div class="form-group">
								<label>Last Name</label>
								<input type="text" class="form-control" name="last_name" value="{% for i in student %} {{i.adm.last_name}} {% endfor %}">
								
							</div>
							
						</div>

						<div class="col-sm-11">
							<div class="form-group">
								<label>Email</label>
								<input type="email" class="form-control" name="email" value="{% for i in student %} {{i.adm.email}} {% endfor %}">
								
							</div>
							
						</div>

						<div class="col-sm-11">
							<div class="form-group">
								<label>Username</label>
								<input type="text" class="form-control"  name="username" value="{% for i in student %} {{i.adm.username}} {% endfor %}">
								
							</div>
							
						</div>
						<div class="col-sm-11">
							<div class="form-group">
								<label>Password</label>
								<input type="password" class="form-control" name="password">
								
							</div>

							<div class="col-sm-11">
							<div class="form-group">
								<label>Adresse</label>
								<textarea class="form-control" name="address">{% for i in student %} {{i.address}} {% endfor %}</textarea>
								
							</div>
							
						</div>

						<div class=" col-sm-11">
							<label>Genre</label>
							<select class="form-control" name="genre"> 
								<option>Femme</option>
								<option>Homme</option>
							</select>
						</div>

						<div class=" col-sm-11">
							<label>Cours</label>
							<select class="form-control" name="cours_id"> 
								{% for i in cours %}
								<option value="{{i.id}}">{{i.name}}</option>
								{% endfor %}
								
							</select>
						</div>

						<div class=" col-sm-11">
							<label>Session</label>
							<select class="form-control" name="session_id"> 
								{% for i in session %}
								<option value="{{i.id}}">{{i.session_start}} -{{i.session_end}} </option>
								{% endfor %}
								
								
								
							</select>
						</div>
							
						</div>
						<br>
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Editer Eleve
								
							</button>
							
						</div>
					
					
				</form>
				
			</div>
			
		</div>
		
	</div>
	
</div>
{% endblock %}